<!DOCTYPE html>
<html>
    <head>
        <title>Калькулятор</title>
	</head>

	<form action="." method="POST">
    <p align=center style="font-size:40px; color:rgb(0, 100, 0)">Калькулятор !</p>

    <p style="font-size:25px; color:rgb(0, 100, 0)">Внимание: выделяйте знаки операций пробелами</p>
    <p style="font-size:25px; color:rgb(0, 100, 0)">Например: 1 + 2; 3 / 4</p>
    <body style="background-color:rgb(240, 255, 240);"></body>
    <input style = "position:center;  width:550px;
height:60px" type="text" name="text" placeholder="Введите выражение">
    <input style = "position:center;  background-color:white;color:green;width:150px;
height:40px" type="submit" value="Посчитать" align="center">

        <br><br>
       <a style="font-size:25px; color:rgb(0, 100, 0)" href="/hist">Прошлые запросы</a>

</form>

</html>